@import '_setting.scss';
.appointmentManager {
    &__container {
        margin: 0 $margin-desktop;
        header {
            font-size: 22px;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 20px;
        }
        table {
            background-color: #ffffff;
            border-collapse: collapse; 
            width: 100%;
            margin-bottom: 40px;
        }
        tbody {
            // height: 50vh;
            overflow-y: scroll;
            // display: block;
        }

        th {
            padding: 16px 4px;
            background-color: #ccc;
            text-align: left;
            font-weight: 500;

        }
        tr {
            border-bottom: 1px solid #ccc;

        }
        td {
            padding: 10px 0;
            // width: 25%;
            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                font-weight: 500;
            }
        }
    }
}