.scheduleDoctorManagement {
    &__container {
        header {
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 40px;
        }
        table {
            background-color: #ffffff;
            border-collapse: collapse; 
            width: 100%;
        }
        tbody {
            height: 50vh;
            overflow-y: scroll;
            // display: block;
        }

        th {
            padding: 16px 4px;
            background-color: #ccc;
            text-align: left;
            // float: left;
            // width: 20%;
            font-weight: 500;

        }
        td {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            // width: 25%;
            &:nth-child(2), &:nth-child(3) {
                font-weight: 500;
            }
        }
    }
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3%;
    }
    &__form {
        margin: 0;
    }
    .searchResult_null {
        display: block;
        text-align: center;
    }
}