.clinicItem {
    cursor: pointer;
    &__content {
        &--list {
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
            div {
                width: 300px;
            }
        }
        span {
            display: inline-block;
            margin-top: 10px;
        }
    }
}